In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [20]:
from datetime import datetime, timedelta

DATE_TIME_STRING_FORMAT = '%Y-%m-%d %H:%M:%S'

from_date_time = datetime.strptime('2021-01-01 00:00:00',
                                   DATE_TIME_STRING_FORMAT)
to_date_time = datetime.strptime('2022-01-01 00:00:00',
                                 DATE_TIME_STRING_FORMAT)

date_times = [from_date_time.strftime(DATE_TIME_STRING_FORMAT)]
date_time = from_date_time
while date_time < to_date_time:
    date_time += timedelta(hours=1)
    date_times.append(date_time.strftime(DATE_TIME_STRING_FORMAT))

'2021-01-01 00:00:00'

In [7]:
station = pd.read_csv("data/hanoi/location.csv").values[:,0]

In [ ]:
base_df = pd.read_csv('data/hanoi/base_date.csv')
for s in station:
    file_name = s + ".csv"
    df_pv = pd.read_csv(f"data/hanoi/{file_name}")
    merge_df = pd.merge(base_df, df_pv, how='left', on='time')[["time","PM2.5","humidity","temperature"]]
    merge_df.to_csv(f"data/AQ_hanoi/{s}.csv", index=False)

In [4]:
df_pv = pd.read_csv("data/hanoi/S0000099-Phu Vien_merge.csv")

In [6]:
merge_df = pd.merge(base_df, df_pv, how='left', on='time')
merge_df[["time","PM2.5","humidity","temperature"]]

                     time  PM2.5  humidity  temperature
0     2021-01-01 00:00:00  52.70      68.7         13.6
1     2021-01-01 01:00:00  50.30      67.5         13.3
2     2021-01-01 02:00:00  56.60      66.0         13.1
3     2021-01-01 03:00:00  61.81      65.7         13.0
4     2021-01-01 04:00:00  75.08      62.6         12.3
...                   ...    ...       ...          ...
8755  2021-12-31 19:00:00  64.60      75.9         17.7
8756  2021-12-31 20:00:00  57.40      76.0         17.7
8757  2021-12-31 21:00:00  56.20      75.8         17.7
8758  2021-12-31 22:00:00  66.20      76.1         17.7
8759  2021-12-31 23:00:00  78.60      76.5         17.6

[8760 rows x 4 columns]

In [34]:
merge_df.to_csv("S0000099-Phu Vien_merge.csv")